<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/cc_page.css">
    <title>Sup Development Project - CC Page</title>
</head>
<script defer src="/public/scripts/cc_page.js"></script>
<body>
    <h1>{cc_name}</h1>
    <h1>Rooms</h1>
    <div id="container">
        <div id="rooms">

        </div>
    </div>
    <hr>
    <form id="create-room-form">
        <label for="room_name">Create new Room</label>
        <input type="text" name="room_name" id="room-name-field" placeholder="Room name">
        <button type="submit">Create</button>
    </form>
</body>
</html>