<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/ccs.css">
    <title>Sup Development Project - CCs</title>
</head>
<script defer src="/public/scripts/ccs.js"></script>
<body>
    <h1>Community Centers</h1>
    <div id="container">
        <div id="ccs">

        </div>
    </div>
    <hr>
    <form id="create-cc-form">
        <label for="cc_name">Create new Community Center</label>
        <input type="text" name="cc_name" id="cc-name-field" placeholder="Community Center name">
        <button type="submit">Create</button>
    </form>
    <a href="/dms">DMs</a>
</body>
</html>