<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/chat.css">
    <title>Sup Development Project - Chat</title>
</head>
<script src="/socket.io/socket.io.js"></script>
<script defer src="/public/scripts/dms.js"></script>
<script defer src="/public/scripts/chat.js"></script>
<body>
    <h1>{username}</h1>
    <div id="container">
        <div id="dms">
        </div>
        <div id="msgs">
            <div id="messages-container"></div>
            <form id="message-form">
                <input type="text" name="message" id="message-field" placeholder="Enter message">
                <button type="submit">Send!</button>
            </form>
        </div>
    </div>
</body>
</html>