<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <title>Sup Development Project</title>
</head>
<script src="/socket.io/socket.io.js"></script>
<script defer src="/public/scripts/dms.js"></script>
<body>
    <h1>Users</h1>
    <br>
    <div id="container">
        <h1>{username}</h1>
        <div id="dms">
        </div>
    </div>
    <hr>
    <a href="/community/centers/cc">Community Centers</a>
</body>
</html>