<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/room.css">
    <title>Sup Development Project - Room</title>
</head>
<script defer src="/public/scripts/room.js"></script>
<body>
    <div id="container">
        <h1>{username}</h1>
        <div id="messages-container"></div>
        <form id="message-form">
            <input type="text" name="message" id="message-field" placeholder="Enter message">
            <button type="submit">Send!</button>
        </form>
    </div>
</body>
</html>