<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/81841ae42c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/styles/test-css/root.css">
    <link rel="stylesheet" href="/public/styles/test-css/top-bar.css">
    <link rel="stylesheet" href="/public/styles/test-css/side-bar.css">
    <link rel="stylesheet" href="/public/styles/test-css/chat.css">
    <link rel="stylesheet" href="/public/styles/test-css/main.css">
    <title>Sup Development Project - Front End</title>
</head>
<script defer src="/public/scripts/test.js"></script>
<body>
    <nav>
        <div id="nav-username">
            <div id="nav-user-data">
                <div id="user-pfp"></div>
                <div id="user-data">
                    <h3>Username</h3>
                    <p>Status</p>
                </div>
            </div>
            <div id="nav-sets">
            </div>
        </div>
        <div id="nav-time">
            <h3>16:32 16 Jul 2023</h3>
        </div>
        <div id="nav-media-player" class="row space-between">
            <div id="nav-media-player-image"></div>
            <div id="nav-media-player-right">
                <div id="nav-media-player-controls">
                    <button id="nav-media-player-prev" class="nav-media-player-btn"><i class="fa-solid fa-backward"></i></button>
                    <button id="nav-media-player-pause-play" class="nav-media-player-btn"><i class="fa-solid fa-pause"></i></button>
                    <button id="nav-media-player-next" class="nav-media-player-btn"><i class="fa-solid fa-forward"></i></button>
                </div>
                <div id="marquee">
                    <div id="marquee-gradient-1"></div>
                    <marquee id="nav-media-player-name">Never gonna give you up</marquee>
                    <div id="marquee-gradient-2"></div>
                </div>
            </div>
        </div>
    </nav>
    <main class="row center">
        <div id="side-bar">
            <div id="side-search-bar-container" class="center">
                <div id="side-search-bar" class="row space-between">
                    <input type="text" name="search" id="side-search-field" placeholder="Search...">
                    <button id="side-search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div id="dms-groups-switch">
                <div id="dms-groups-switch-container">
                    <button id="dms-switch-btn" class="switch-btn">DMs</button>
                    <button id="groups-switch-btn" class="switch-btn">Groups</button>
                </div>
            </div>
            <div id="dms-list">
                <div id="dms-container">
                    <div class="dm">
                        <div class="dm-pfp"></div>
                        <div class="dm-activity"></div>
                        <div class="dm-username">CoolDudesUnited</div>
                    </div>
                </div>
            </div>
            <div id="app-nav"></div>
        </div>
        <div id="chat">

        </div>
    </main>
</body>
</html>