body {
    text-align: center;
}

#container {
    height: 70dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dm-btn {
    height: 2rem;
    margin-left: 1rem;
}
